@using Com.HSJF.HEAS.Web.Helper
@model Com.HSJF.HEAS.Web.Models.Biz.BaseCaseViewModel

@{
    ViewBag.Title = "ReadonlyBaseCase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper GetDictionary(string parentPath)
{
foreach (var t in new Com.HSJF.HEAS.Web.Helper.DictionaryHelper().GetListByTypeAll("", parentPath))
{
        <option value="@t.Value" data-show="@t.Disabled">@t.Text</option>
}
}
<input id="BaseCase_ID" type="hidden" value="@Model.ID" />

<div class="page-content">
    <div class="page-header">
        <h1>
            <a class="label label-lg label-light arrowed" href="/Biz/BaseCaseIndex/">返回</a>
            &nbsp;
            进件
            <small>
                <i class="icon-double-angle-right"></i>
                详情
            </small>
        </h1>
    </div>

    <div class="hs-tool-bar">
        <span class="text-primary app_mright">
            &nbsp;@CaseStatusHelper.GetBigStatusText(Model.CaseStatus)
        </span>
        <span class="app_mright">
            &nbsp;案件状态:
        </span>
        <span class="text-danger app_mright">
            &nbsp;短借
        </span>
        <span class="app_mright">
            &nbsp; 案件类型:
        </span>
        <span class="text-success app_mright">
            &nbsp;@Model.CaseNum
        </span>
        <span class="app_mright">
            案件编号:
        </span>
    </div>

    <div class="vspace-10"></div>
    <div class="row padt10">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#basic">进件信息</a></li>
                    <li><a data-toggle="tab" href="#AuditInfo">审核信息</a></li>
                </ul>
                <div class="tab-content">
                    <div id="basic" class="tab-pane active">
                        <h6 class="header smaller blue">申请信息</h6>
                        <div class="row padt10">
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group hide">
                                <label>ID</label>
                                <input class="form-control" type="text" data-field="ID" data-class="BaseCase" value="@Model.ID" />
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>地区</label>
                                <select disabled class="form-control" data-field="DistrictID" data-class="BaseCase" id="DistrictID" onchange="districtChange(true)">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>分公司</label>
                                <select disabled class="form-control" data-field="SalesGroupID" data-class="BaseCase" id="SalesGroupID" onchange="salesGroupChange(true)">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>销售人员</label>
                                <select disabled class="form-control" data-field="SalesID" data-class="BaseCase" id="SalesID">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>申请额度</label>
                                <div class="input-group">
                                    <input disabled class="form-control" type="text" data-field="LoanAmount" data-class="BaseCase" onkeyup="formoney(event,this,2)" maxlength="20" />
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>申请期限</label>
                                <select disabled class="form-control" data-fill-code="Dict:-LoanTerm" data-field="Term" data-class="BaseCase">
                                    <option></option>
                                    @GetDictionary("-LoanTerm")
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>申请利率（年）</label>
                                <div class="input-group">
                                    <input disabled class="form-control" type="text" data-field="AnnualRate" data-class="BaseCase" valid-type="float" data-rate="rate" maxlength="8" />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>服务费率</label>
                                <div class="input-group">
                                    <input disabled class="form-control" type="text" data-field="ServiceChargeRate" data-class="BaseCase" valid-type="float" data-rate="rate" maxlength="8" />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label>还款来源</label>
                                <textarea disabled class="form-control" rows="5" data-field="PaymentFactor" data-class="BaseCase" maxlength="1000"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label>借款用途</label>
                                <textarea disabled class="form-control" rows="5" data-field="Purpose" data-class="BaseCase" maxlength="1000"></textarea>
                            </div>
                        </div>

                        <div class="vspace-10"></div>
                        <h6 class="header smaller blue">打款账户</h6>
                        <div class="row padt10">
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>账户名称</label>
                                <input type="hidden" data-field="OpeningSite" data-class="BaseCase" />
                                <select disabled class="form-control" id="OpeningSite" onchange="changeAccount(this);">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>开户行</label>
                                <input disabled class="form-control" type="text" data-field="OpeningBank" data-class="BaseCase" />
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>银行卡号</label>
                                <input disabled class="form-control" type="text" data-field="BankCard" data-class="BaseCase" />
                            </div>
                        </div>

                        <div class="vspace-10"></div>
                        <h6 class="header smaller blue">
                            关系人
                        </h6>
                        <div class="table-responsive">
                            <table id="basecase_person_list" disabled class="table table-striped table-bordered table-hover" for="dialog_person" data-class="BaseCase" data-field="RelationPerson" data-child="RelationPerson">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>关系人类型</th>
                                        <th>证件类型</th>
                                        <th>证件号码</th>
                                        <th>婚姻状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="vspace-10"></div>
                        <h6 class="header smaller blue">
                            房产信息
                        </h6>
                        <div class="table-responsive">
                            <table id="basecase_facility_list" disabled class="table table-striped table-bordered table-hover" for="dialog_facility" data-class="BaseCase" data-field="Collateral" data-child="Collateral">
                                <thead>
                                    <tr>
                                        <th>类型</th>
                                        <th>楼盘名称</th>
                                        <th>地址</th>
                                        <th>权利人</th>
                                        <th>面积<span>（单位：米<sup>2</sup>）</span></th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div id="AuditInfo" class="tab-pane">
                        <h6 class="header smaller blue">审批信息</h6>
                        <div class="row padt10">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>审批金额</label>
                                <div class="input-group">
                                    <input disabled class="form-control" type="text" data-field="ThirdPartyAuditAmount" data-class="AuditInformation" onkeyup="formoney(event,this,2)" maxlength="20" />
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>审批期限</label>
                                <select disabled class="form-control" data-fill-code="Dict:-LoanTerm" data-field="ThirdPartyAuditTerm" data-class="AuditInformation">
                                    <option></option>
                                    @GetDictionary("-LoanTerm")
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>审批利率（年）</label>
                                <div class="input-group">
                                    <input disabled class="form-control" type="text" data-field="ThirdPartyAuditRate" data-class="AuditInformation" valid-type="float" data-rate="rate" maxlength="8" />
                                    <span class="input-group-addon">%</span>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label>拒绝理由</label>
                                <textarea disabled class="form-control" rows="5" data-field="RefuseReason" data-class="AuditInformation" maxlength="1000"></textarea>
                            </div>
                            <!--<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>拒绝批注</label>
                                <input disabled class="form-control" type="text" data-field="RefuseDescription" data-class="AuditInformation" disabled/>
                            </div>-->
                        </div>

                        <div class="vspace-10"></div>
                        <h6 class="header smaller blue">签约信息</h6>
                        <div class="row padt10">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>签约金额</label>
                                <div class="input-group">
                                    <input disabled class="form-control" type="text" data-field="ContractAmount" data-class="AuditInformation" onkeyup="formoney(event,this,2)" maxlength="20" />
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>签约日期</label>
                                <div class="input-group">
                                    <input class="form-control date-picker" type="text" data-field="ContractDate" data-class="AuditInformation" valid-type="date" max-date="now" disabled />
                                    <span class="input-group-addon">
                                        <i class="icon-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                <label>签约人员</label>
                                <input disabled class="form-control" type="text" data-field="ContractPersonText" data-class="AuditInformation" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label>签约失败理由</label>
                                <textarea disabled class="form-control" rows="5" data-field="SignRefuseReason" data-class="AuditInformation" maxlength="1000"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("dialog_readonly")
<script type="text/javascript" src="../../js/init.js"></script>
<script type="text/javascript">
    //页面初始化
    jQuery(function ($) {
        //加载页面数据
        LoadPageData();
        rate();
        dictionaryHide();
    });

    //加载页面数据
    var LoadPageData = function () {
        var bc_id = $("#BaseCase_ID").val();

        showLoading();
        AjaxMethod("post", "/Biz/GetBaseCase", { id: bc_id }, function (r) {
            if (r.Data.AuditInformation != null) {
                for (var audit in r.Data.AuditInformation) {
                    $("#AuditInfo").find('[data-field="' + audit + '"]').val(r.Data.AuditInformation[audit]);
                }
                $("#AuditInfo").find('[data-field="ThirdPartyAuditAmount"]').val(fmoney($("#AuditInfo").find('[data-field="ThirdPartyAuditAmount"]').val(), 2));//审批金额
                $("#AuditInfo").find('[data-field="ContractAmount"]').val(fmoney($("#AuditInfo").find('[data-field="ContractAmount"]').val(), 2));
                var val = $("#AuditInfo").find('[data-field="ContractDate"]').val();
                var dateStr = val.substring(6, val.length - 2);
                var dateObj = new Date(parseInt(dateStr));
                if (val != "") {
                    $("#AuditInfo").find('[data-field="ContractDate"]').val(dateObj.Format("yyyy-MM-dd"));
                }
            }
            GetDistrict(false, function () {
                $("#basic [data-class='BaseCase'][data-field='DistrictID']").val(r["Data"]["DistrictID"]);
                districtChange(false, function () {
                    $("#basic [data-class='BaseCase'][data-field='SalesGroupID']").val(r["Data"]["SalesGroupID"]);
                    salesGroupChange(false, function () {
                        GetDictionary($("#borrower_idtype"), "-DocType", function () {
                            SetJsonData(r["Data"], "BaseCase");
                            //                          $('[onclick="deleteRow(this);"]').remove();
                            selAccount();
                            hideLoading();
                        });
                    });
                });
            });
        }, false);
        var date = new Date();
        var htm = "";
        for (var i = date.getFullYear() - 70; i < date.getFullYear() + 70; i++) {
            htm = htm + "<option ='" + i + "'>" + i + "</option>";
        }
        $('[data-field="CompletionDate"]').append(htm);
    };

    var limitDate = "";
    function longterm(obj) {
        if (obj.checked) {
            var objuse = $(obj).parent().siblings('[data-field="ExpiryDate"]');
            limitDate = objuse.val();
            $(obj).parent().siblings('[data-field="ExpiryDate"]').attr("disabled", true);
            $(obj).parent().siblings('[data-field="ExpiryDate"]').val("9999-12-31");
        } else {
            $(obj).parent().siblings('[data-field="ExpiryDate"]').attr("disabled", false);
            $(obj).parent().siblings('[data-field="ExpiryDate"]').val(limitDate);
        }
    };
</script>