@model IEnumerable<Com.HSJF.HEAS.Web.Models.Audit.BaseAuditViewModel>

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="icon-legal"></i>
            &nbsp;审核
        </h1>
    </div><!-- /.page-header -->
    <div class="vspace-4"></div>

    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h6><i class="icon-filter"></i>筛选条件</h6>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <form>
                    <fieldset id="fieldset_audit_list">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                                <label>案件状态</label>
                                <select id="drpCaseStatus" class="form-control">
                                    <option value="">全部</option>
                                    <option value="1Audit">初审</option>
                                    <option value="2Audit">复审</option>
                                    <option value="Close">审核拒绝</option>
                                    <option value="HatsPending">等待确认案件模式</option>
                                    <option value="Public">签约</option>
                                    <option value="ConfrimPub">确认签约要件</option>
                                    <option value="ClosePublic">签约失败</option>
                                    <option value="Lending">放款</option>
                                    <option value="After">贷后</option>
                                    <option value="Finish">还清</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                                <label>案件编号</label>
                                <input id="CaseNum" class="form-control" type="text" />
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                                <label>借款人姓名</label>
                                <input id="txtBrrownName" class="form-control" type="text" />
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                                <label>分公司</label>
                                <select class="form-control" id="SalesGroupId">
                                    @foreach (var item in (List<SelectListItem>)ViewBag.SaleGroups)
                                    {
                                        if (item.Selected)
                                        {
                                            <option selected="selected" value="@item.Value">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions center">
                        @*<button class="btn btn-sm btn-default" type="button" for="fieldset_audit_list" onclick="reset_filter($(this));">清空</button>*@
                        <button class="btn btn-sm btn-success" type="button" onclick="queryCase();">查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="vspace-4"></div>
    <div class="table-responsive">
        <div id="audit_list_wrapper" class="dataTables_wrapper" role="grid">
            <div class="row">
                <div class="col-sm-6">
                    <div id="audit_list_length" class="dataTables_length">
                        <label>
                            每页显示
                            <select size="1" name="audit_list_length" aria-controls="audit_list" id="PageSize" onchange="changePage(this);">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 条记录
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_filter" id="audit_list_filter">
                        <label>搜索: <input type="text" aria-controls="audit_list"></label>
                    </div>
                </div>
            </div>
            <table id="audit_list" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td>业务编号</td>
                        <td>分公司</td>
                        <td>借款人姓名</td>
                        <td>申请金额（单位：元）</td>
                        <td>修改时间</td>
                        <td>案件状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info" id="audit_list_info">共 <font id="Total"></font> 条记录,共 <font id="TotalPage"></font> 页</div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_bootstrap">
                        <ul class="pagination">
                            <li class="prev" id="head"><a><i class="icon-double-angle-left"></i></a></li>
                            <li class="prev disabled" id="prev"><a><i class="icon-angle-left"></i></a></li>
                            <li><input type="text" id="page" value="1" maxlength="3" /></li>
                            <li class="next disabled" id="next"><a><i class="icon-angle-right"></i></a></li>
                            <li class="next" id="foot"><a><i class="icon-double-angle-right"></i></a></li>
                            <li>
                                &nbsp;&nbsp;
                                跳至
                                <select class="pages" onchange="tiaozhi(this);"></select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->

<script type="text/javascript" src="../../js/init.js"></script>
<script type="text/javascript">

    //  $('#audit_list').DataTable({
    //      "bSort": true,
    //      "aaSorting": [],
    //      "aoColumns": [
    //		    null,
    //		    null,
    //		    null,
    //          { "sClass": "hidden-991" },
    //		    null,
    //		    { "bSortable": false }
    //      ]
    //  });


    function queryCase() {
        var obj = {
        	SalesGroupId: $("#SalesGroupId").val(),
            PageIndex: 1,
            PageSize: Number($("#PageSize").val()),
            BorrowerName: $("#txtBrrownName").val(),
            CaseNum: $("#CaseNum").val(),
            CaseStatus: $("#drpCaseStatus").val()
        };
        query(obj);
    }
    function changePage(obj) {
        var obj = {
        	SalesGroupId: $("#SalesGroupId").val(),
            PageIndex: 1,
            PageSize: Number($(obj).val()),
            BorrowerName: $("#txtBrrownName").val(),
            CaseNum: $("#CaseNum").val(),
            CaseStatus: $("#drpCaseStatus").val()
        };
        query(obj);
    }
    function tiaozhi(obj) {
        var obj = {
        	SalesGroupId: $("#SalesGroupId").val(),
            PageIndex: Number($(obj).val()),
            PageSize: Number($("#PageSize").val()),
            BorrowerName: $("#txtBrrownName").val(),
            CaseNum: $("#CaseNum").val(),
            CaseStatus: $("#drpCaseStatus").val()
        };
        query(obj);
    }
    function query(obj) {
        $.ajax({
            url: "/Audit/GetPageIndex",
            data: obj,
            type: "post",
            dataType: "json",
            success: function (data) {
                var htm = "";
                for (var i = 0; i < data.Data.length; i++) {
                    console.log(data.Data[i].Version);
                }
                for (var i = 0; i < data.Data.length; i++) {
                    var status = "";
                    var caseNum = "";
    				var salesGroupText = "";                    
                    var borrowerName = "";
                    var loanAmount = "";
                    var time = dateFormat(data.Data[i].CreateTime);
                    var detail_url = "";
                    if (data.Data[i].CaseStatusText) {
                        status = "<font>" + data.Data[i].CaseStatusText + "</font>";
                    } else {
                        status = "<font>未提交</font>";
                    }
                    if (data.Data[i].CaseNum == null) {
                        caseNum = "";
                    } else {
                        caseNum = data.Data[i].CaseNum;
                    }
                    if (data.Data[i].BorrowerName == null) {
                        borrowerName = "";
                    } else {
                        borrowerName = data.Data[i].BorrowerName;
                    }
                    if (data.Data[i].LoanAmount == null) {
                        loanAmount = "";
                    } else {
                        loanAmount = data.Data[i].LoanAmount;
                    }
                    if (data.Data[i].SalesGroupText == null) {
                        salesGroupText = "";
                    } else {
                        salesGroupText = data.Data[i].SalesGroupText;
                    }
                    if (data.Data[i].CaseStatus == "1Audit") {
                        @if (User.IsInRole("1Audit"))
                        {
                           @Html.Raw("detail_url = '/Audit/EditAudit/' + data.Data[i].ID;");
                        }
                        else
                        {
                           @Html.Raw("detail_url = '/Audit/ReadonlyRejectBaseAudit/' + data.Data[i].ID;");
                        }
                    } else if (data.Data[i].CaseStatus == "2Audit") {
                        @if (User.IsInRole("2Audit"))
                        {
                           @Html.Raw("detail_url = '/Audit/ReadonlyBaseAudit/' + data.Data[i].ID;");
                        }
                        else
                        {
                           @Html.Raw("detail_url = '/Audit/ReadonlyRejectBaseAudit/' + data.Data[i].ID;");
                        }
                    } else {
                        detail_url = "/Audit/ReadonlyRejectBaseAudit/" + data.Data[i].ID;
                    }
                    htm = htm + "<tr><td>" + caseNum + "</td>" +
                            "<td>" + salesGroupText +" </td>" +
    						"<td>" + borrowerName + "</td>" +
    						"<td>" + loanAmount + "</td>" +
    						"<td>" + time + "</td>" +
    						"<td>" + status + "</td>" +
    						"<td><div class='action-buttons'>" +
    						"<a class='green' href='" + detail_url + "' target='_blank'>" +
                                "<i class='icon-zoom-in bigger-130' tooltip='true' title='详情'></i>" +
                            "</a></td></tr>";
                }
                $("#audit_list").find("tbody").html(htm);
                $("#Total").html(data.Total);
                $("#TotalPage").html(data.TotalPage);
                $("#page").val(data.PageIndex);
                if (data.PageIndex == 1) {
                    $("#prev").attr("disabled", true).addClass("disabled");
                } else {
                    $("#prev").removeAttr("disabled").removeClass("disabled");
                }
                if (data.PageIndex == data.TotalPage) {
                    $("#next").attr("disabled", true).addClass("disabled");
                    if (data.TotalPage == 1 || data.TotalPage == 0) {
                        $("#prev").attr("disabled", true).addClass("disabled");
                    }
                } else {
                    $("#next").removeAttr("disabled").removeClass("disabled");
                }

                var pagehtml = "";
                if (data.TotalPage != 0) {
                    for (var i = 0; i < data.TotalPage; i++) {
                        if (data.PageIndex == i + 1) {
                            pagehtml = pagehtml + "<option value='" + (i + 1) + "' selected>" + (i + 1) * Number($("#PageSize").val()) + "</option>"
                        } else {
                            pagehtml = pagehtml + "<option value='" + (i + 1) + "'>" + (i + 1) * Number($("#PageSize").val()) + "</option>"
                        }
                    }
                }
                $(".pages").html(pagehtml);
                $("#head").attr("onclick", "tohead();");
                $("#foot").attr("onclick", "tofoot();");
            },
            error: function (data) {
                if (data.status == 200) {
                    MessageBox("登录超时，请重新登录", function () {
                        window.location = "/Home/Failed";
                    });
                } else {
                    MessageBox("请求超时", function () {
                        window.location = "/Home/Failed";
                    });
                }
            }
        })
    }
    $(document).ready(function () {
        var obj = {
        	SalesGroupId: $("#SalesGroupId").val(),
            PageIndex: Number($("#page").val()),
            PageSize: Number($("#PageSize").val()),
            BorrowerName: $("#txtBrrownName").val(),
            CaseNum: $("#CaseNum").val(),
            CaseStatus: $("#drpCaseStatus").val()
        };
        query(obj);
        $("#page").keyup(function (e) {
            var str = $(this).val();
            if ($(this).val().length == 1) {
                $(this).val($(this).val().replace(/[^1-9]/g, ''));
            } else {
                $(this).val($(this).val().replace(/\D/g, ''));
            }
            if (e.which == 13) {
                obj = {
                	SalesGroupId: $("#SalesGroupId").val(),
                    PageIndex: Number($("#page").val()),
                    PageSize: Number($("#PageSize").val()),
                    BorrowerName: $("#txtBrrownName").val(),
                    CaseNum: $("#CaseNum").val(),
                    CaseStatus: $("#drpCaseStatus").val()
                }
                query(obj);
            }
            if (Number($(this).val()) > Number($("#TotalPage").html())) {
                $(this).val($(this).val().substring(0, $(this).val().length - 1));
            }
        });
        $("#prev").click(function () {
            if ($("#page").val() != 1) {
                obj = {
                	SalesGroupId: $("#SalesGroupId").val(),
                    PageIndex: Number($("#page").val()) - 1,
                    PageSize: Number($("#PageSize").val()),
                    BorrowerName: $("#txtBrrownName").val(),
                    CaseNum: $("#CaseNum").val(),
                    CaseStatus: $("#drpCaseStatus").val()
                };
                query(obj);
            }
        });
        $("#next").click(function () {
            if ($("#page").val() != $("#TotalPage").html()) {
                obj = {
                	SalesGroupId: $("#SalesGroupId").val(),
                    PageIndex: Number($("#page").val()) + 1,
                    PageSize: Number($("#PageSize").val()),
                    BorrowerName: $("#txtBrrownName").val(),
                    CaseNum: $("#CaseNum").val(),
                    CaseStatus: $("#drpCaseStatus").val()
                };
                query(obj);
            }
        });
    });
</script>
