@model Com.HSJF.HEAS.Web.Models.Account.ChangePasswordViewModel

<div class="page-content">
    <div class="page-header">
        <h1>
            <a class="label label-lg label-light arrowed" href="/Account/Index">返回</a>
            &nbsp;系统管理
            <small>
                <i class="icon-double-angle-right"></i>
                &nbsp;用户管理
            </small>
            <small>
                <i class="icon-double-angle-right"></i>
                &nbsp;修改密码
            </small>
        </h1>
    </div><!-- /.page-header -->
    @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { HttpMethod = "Post", OnSuccess = "change_pw_success" }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="hs-tool-bar">
            <button type="submit" class="btn btn-xs btn-success">
                <i class="icon-save"></i>
                保存
            </button>
            
        </div>
        <div class="vspace-4"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-toggle="tab" href="#basic">修改密码</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="basic" class="tab-pane active">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                                    @Html.LabelFor(model => model.oldPass)
                                    @Html.PasswordFor(model => model.oldPass, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.oldPass, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                                    @Html.LabelFor(model => model.Password)
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword)
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function change_pw_success(r) {
        if (r.Status == "Success") {
        	//showAlert("密码修改成功");
        	window.location = "/Home/Index?status=ss";
        }
        else {
//      	if(r.Message[0].Message){
//      		showAlert(r.Message[0].Message);
//      	}else{
            showAlert("密码修改失败", "error");
//      	}
        }
    }
</script>
