@model Com.HSJF.HEAS.Web.Models.Account.UserViewModel

<div class="page-content">
    <div class="page-header">
        <h1>
            <a class="label label-lg label-light arrowed" href="/Account/Index">返回</a>
            &nbsp;系统管理
            <small>
                <i class="icon-double-angle-right"></i>
                &nbsp;用户管理
            </small>
            <small>
                <i class="icon-double-angle-right"></i>
                &nbsp;修改
            </small>
        </h1>
    </div><!-- /.page-header -->

    @using (Ajax.BeginForm("EditUser", "Account", new AjaxOptions{ HttpMethod = "Post", OnSuccess = "user_edit_success" }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="hs-tool-bar">
            <button type="submit" class="btn btn-xs btn-success">
                <i class="icon-save"></i>
                保存
            </button>
        </div>
        <div class="vspace-4"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-toggle="tab" href="#basic">用户信息</a></li>
                        <!--<li><a data-toggle="tab" href="#menu">菜单权限</a></li>-->
                    </ul>
                    <div class="tab-content">
                        <div id="basic" class="tab-pane active">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                                    @Html.LabelFor(model => model.LoginName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                                    @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div id="menu" class="tab-pane">
                            <div id="menulist"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function getMenuList() {
        $.get("/Account/GetMenuList", { userid: $("input[type='hidden'][id='ID']").val() }, function (r) {
            if (r != null) {
                $("#menulist").html(r);
            }
            else {
                alert("无法获取菜单");
            }
        });
    }
    getMenuList();

    function user_edit_success(r) {
        if (r == "Success") {
            window.location = "/Account/Index?status=ss";
        }
        else {
        }
    }
</script>
